@model BlogMvcProject.Models.Blog

@{
    ViewBag.Title = "Details";
}




<h1>@Model.Title</h1>
<hr />
<p>
    <span class="glyphicon glyphicon-time"></span>
    @Model.AddTime
</p>
<hr />
<img src="http://placehold.it/900x300" alt="Alternate Text" class="img-responsive" />
<hr />
<blockquote>
    <p>
        @Model.Description
    </p>
</blockquote>
<p>
    @Model.Content
</p>



@section RightColumn
{
    <div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>
    @{Html.RenderAction("CategoryList", "Category"); }
}
