@model IEnumerable<BlogMvcProject.Models.BlogModel>
@{
    ViewBag.Title = "Index";
}

<h2>Blog Listesi</h2>
<hr />
@Html.Partial("BlogList", Model)

@section RightColumn
{
    @Html.Partial("Search")
    @{Html.RenderAction("CategoryList", "Category"); }
}
